body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    margin: 0;
  
}
main{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1 0 100px
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
    color: #F9FAF8;
}
section{
    display: flex;
   
    align-items: center;
    justify-content: center;
    flex: 0 1 50px
}
h1{
    color: #F9FAF8;
}
.small-section{
    flex:1 0 250px
    
}

.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    flex-direction: column;
    display: flex;
   
}
.container button{
    flex-direction: column;
    
}
.column-flex{
    flex-direction: column;
}
.column-flex div{
   display: flex;
}
footer{
    flex:0 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cite-footer{
    justify-content: flex-end;
}