body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}