body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1 0 100px
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
section{
    display: flex;
    flex:1 0 300px;
    align-items: center;
    justify-content: center;
}
.small-section{
    flex:1 0 250px
    
}

.container{
    flex: 0 1 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    flex-direction: column;
    display: flex;
    flex:3
}
.container button{
    flex-direction: column;
    flex:1
}
.column-flex{
    flex-direction: column;
}
.column-flex div{
   display: flex;
}
footer{
    flex:0 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cite-footer{
    justify-content: flex-end;
}