body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex
    ;
        flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
   display: flex;
   justify-content: center;
    align-items: center;
}
.header-section{
    justify-content: space-between;
    align-items: center;
    flex: 0 0 80%;
    display:flex;
}
header ul {
    display: flex;
    list-style: none;
    gap: 15px;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0;
}

section {
    display: flex;
padding: 80px;
    align-items: center;
    justify-content: center;
    flex: 0 1 200px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 80%;
    gap:20px
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-4 {
    flex: 1 0 200px;

}

.container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    padding: 25px 75px;
    border-radius: 5px;
   flex: 0 0 65%;
}

.container>div {
    flex-direction: column;
    display: flex;

}

.container p,
.container h3 {
    margin: 0;
}

button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    padding:8px 17px;

    border-radius: 5px;
    color: #fff;


}

.container button {

    border: 1px solid #fff;


}

.section-2 {
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img{
    object-fit: cover;
}
.gallery img{
    border: 2px solid #3882F6;
    border-radius: 15px;
   
}
footer {
    background-color: #1F2937;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    padding: 25px;
}



.cite-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-style: normal;
}

.section-3 {
    flex: 1 0 250px;
    background-color: #E5E7EB;
}

.section-1 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.info {
    flex: 2
}

.citazion {
    flex: 0 1 80%;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    gap: 20px;
display: flex;
flex-direction: column;
}

figure {
    margin: 15px;
    flex: 0 0 200px;
    text-align: center;
}

